name: Run get_long_range_prediction

on:
    workflow_dispatch: # 手動実行を許可
    schedule:
      - cron: '0 1 * * *'  # 日本時間 10:00 (UTC 1:00)

jobs:
  run_script:
    runs-on: ubuntu-latest
    permissions:
      id-token: write    # OIDCトークン発行に必要
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Python script
        run: python get_long_range_prediction.py

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::357665575661:role/get-weather-charts-gha
          aws-region: ap-northeast-1

      - name: Upload to S3
        run: aws s3 cp output/ s3://weather-charts-viewer-gha/ --recursive

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: long-range-output-zip2
          path: output/
          retention-days: 15
